.nav-center {
    justify-content: center !important;
}

.nav-link {
    margin: 2px;
    color: black;
}

.nav-link:hover {
    text-transform: uppercase;
    font-weight: bold;
    color:#108dc7;
}

.resume-link:hover {
    color: #ef8e38;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.hidden {
    display: none;
}

.shown {
    display: block;
}