.nav-center {
    justify-content: center;
}

.nav-link {
    margin: 2px;
    color: black;
    text-transform: lowercase;
}

.nav-link-active {
    font-style: italic !important;
}

.nav-link:hover {
    text-transform: uppercase;
    font-weight: bold;
    color:#073763;
}

.resume-link:hover {
    color: #ef8e38;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    background-color: #fff;
    left: 0
}

.hidden {
    display: none;
}

.shown {
    display: block;
}

#header {
    z-index: 10;
}