.nav-center {
    justify-content: center;
}

.nav-link {
    margin: 2px;
    color: black;
}

.nav-link:hover {
    text-transform: uppercase;
    font-weight: bold;
    color:#108dc7;
}

.resume-link:hover {
    color: #ef8e38;
}