.center {
    text-align: center;
}

.body {
  height: 100vh;
}

.margin-top {
  margin-top: 20%;
}

h1 {
    font-size: 80px;
    font-weight: bold;
    letter-spacing: 5px;
    margin-top: 50px;
}

h5 {
    letter-spacing: 5px;
}

.gradient{
  background: linear-gradient(to right, #108dc7,#ef8e38);
  background-size: 200% 200%;
  animation: rainbow 2s ease-in-out infinite;
  background-clip: text;
  -webkit-background-clip:text;
  color:rgba(0,0,0,1);
  transition: color .35s ease-in-out;
}
.gradient:hover{
  color:rgba(0,0,0,0);
}

@keyframes rainbow { 
  0%{background-position:left}
  50%{background-position:right}
  100%{background-position:left}
}

#home {
  z-index: 0;
}